*{
	margin: 0px;
	padding: 0px;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?52237366');
  src: url('../fonts/fontello.eot?52237366#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?52237366') format('woff'),
       url('../fonts/fontello.ttf?52237366') format('truetype'),
       url('../fonts/fontello.svg?52237366#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	background: #eedfcc url(../img/bg3.jpg) no-repeat center top;
  background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
  color: #5f5f5f;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  vertical-align: middle;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-padlock:before{
    margin-top: -.2em;
    content: '\e855';
    font-size: 1.1em !important;
    vertical-align: middle;
}

.topglyphicon{
  top: 0px !important; 
}


.img-style{
  margin: 60px auto 30px;
  position: relative;
}

.img-style img{
  margin: 0px auto;
}

.shadow-style{
  box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1);
}


/*style form-sesion*/
.form-style{
  margin: 80px auto 30px;
  position: relative;
  border-radius: 5px;
}

.input-group-addon{
  border:none;
  background: transparent;
}

.form-style .pinput{
  width: 70%;
  float: left;
  border-radius: 5px 0 0 5px;
  border: 1px solid #fff;
  border-right: none;
}

.form-style input[type=email],
.form-style input[type=password] {
    /* Size and position */
    width: 100%;
    height: 60px;
    padding: 0 10px;

    /* Styles */
    border: none; /* Remove the default border */
    background: white; /* Fallback */
    background: rgba(255,255,255,0.2);
    box-shadow: 
        inset 0 0 10px rgba(255,255,255,0.5);

    /* Font styles */
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    color: #4F7C43;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    font-size: 20px;       
}

.form-style input[type=email] {
    border-bottom: 1px solid #fff; /* Fallback */
    border-bottom: 1px solid rgba(255,255,255,0.7);
    border-radius: 5px 0 0 0;
}

.form-style input[type=password] {
    border-top: 1px solid #CCC; /* Fallback */
    border-top: 1px solid rgba(0,0,0,0.1);
    border-radius: 0 0 0 5px;
}

.form-style input[type=email]:hover,
.form-style input[type=password]:hover,
.form-style input[type=email]:focus,
.form-style input[type=password]:focus {
    background: #f7def7; /* Fallback */
    background: rgba(255,255,255,0.4);
    outline: none;
}

.form-style input[type=email]:hover ~ .input-group-addon,
.form-style input[type=password]:hover ~ .input-group-addon {
    color: #52cfeb !important;
}

.form-style input[type=email]:focus ~ .input-group-addon,
.form-style input[type=password]:focus ~ .input-group-addon {
    color: #4F7C43 !important;
}

.form-style input[type=email]:focus,
.form-style input[type=password]:focus,
.form-style button[type=submit]:focus {
    outline: none;
}

/* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */

.form-style input::-webkit-input-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}

.form-style input:-moz-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}

.form-style input:-ms-input-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}

.form-style button {
    /* Size and position */
    width: auto;
    height: 122px;
    float: left;
    position: relative;
    overflow: hidden;

    /* Styles */
    background: #A8D05F;
    background: url(../images/noise.png), -moz-radial-gradient(center, ellipse cover, #A8D05F 0%, #4F7C43 100%);
    background: url(../images/noise.png), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#A8D05F), color-stop(100%,#4F7C43));
    background: url(../images/noise.png), -webkit-radial-gradient(center, ellipse cover, #A8D05F 0%,#4F7C43 100%);
    background: url(../images/noise.png), -o-radial-gradient(center, ellipse cover, #A8D05F 0%,#4F7C43 100%);
    background: url(../images/noise.png), -ms-radial-gradient(center, ellipse cover, #A8D05F 0%,#4F7C43 100%);
    background: url(../images/noise.png), radial-gradient(ellipse at center, #A8D05F 0%,#4F7C43 100%);

    border-radius: 0 5px 5px 0;
    box-shadow:
        inset 0 0 4px rgba(255, 255, 255, 0.7), 
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    border: none;
    border-left: 1px solid silver;
    cursor: pointer;  
    line-height: 102px; /* Same as height */
}

.form-style button i {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -20px;
    font-size: 32px;
    line-height: 109px;
    color: #4F7C43;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    vertical-align: middle;
}

.form-style button span {
    display: block;

    /* Font styles */ 
    color: #4F7C43;
    font-family: 'Montserrat', Arial, sans-serif; 
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-backface-visibility: hidden;
}

/* Focus and hover on button */

.form-style button:focus {
    outline: none;
}

.form-style button:hover span,
.form-style button:focus span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: rotate(-90deg) translateY(-20px);
    -moz-transform: rotate(-90deg) translateY(-20px);
    -ms-transform: rotate(-90deg) translateY(-20px);
    -o-transform: rotate(-90deg) translateY(-20px);
    transform: rotate(-90deg) translateY(-20px);
}

.form-style button:hover i,
.form-style button:focus i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/* Click on button */

.form-style button:active span,
.form-style button:active i {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; 
}

.form-style button:active span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.form-style button:active i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 0;
    color: #fff;
}

/*not visible id divclsrification*/
#divclasification{
  display: none;
}

hr.style-one {
  top: -25px;
  position: absolute;
  display: block;
    border: none;
    height: 3.5px;
    width: 100%;
    background-color: rgb(112, 190, 167);
    z-index: 10;
}

#navmenu{
  border-radius: 0px;
  margin-top: 3.2px;
}

#nameuser:hover{
  text-decoration: underline;
}

.logomenu img{
  display: inline-block;
  margin-right: 5px;
  margin-top: -5px;
  vertical-align: middle;
}

#ic_user{
  margin-right: 10px;
}

.perfilmenu {
  display: block;
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 1010;
  max-width: 276px;
  padding: 10px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.perfilmenu .arrow{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  display: block;
  position: absolute;
  content: "";
  width: 13px;
  max-width: 13px;
  max-height: 13px;
  min-width: 13px;
  min-height: 13px;
  height: 13px;
  border-bottom: 13px solid #969379;
  border-top: 13px solid transparent;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent; 
  top: -26px;
  right: 5px;
  z-index: 1009;
}


.perfilmenu .subarrow{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  max-width: 12px;
  max-height: 12px;
  min-width: 12px;
  min-height: 12px;
  height: 12px;
  border-bottom: 12px solid #fcfcfc;
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent; 
  top: -11px;
  right: -12px;
  z-index: 1010;
}

.perfilmenu-title{
  display: block;
  margin: 2px auto;
  width: auto;
  text-align: center;
}

.btn-job{
  font-size: 1.3em;
  display: block;
  margin: 5px auto;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  background-color: #1fa67a;
  color: #fcfcfc;
  position: relative;
  transition:background .3s ease-in-out;
  -webkit-transition:background .3s ease-in-out;
  -moz-transition:background .3s ease-in-out;
  -o-transition:background .3s ease-in-out;
  -ms-transition:background .3s ease-in-out;
  padding: 10px 30px 10px 15px;
  overflow:hidden;
}


.btn-job:hover{
  background-color: #1b926c;
  color: #fcfcfc;
}

.btn-job:after{
  position: absolute;
  content: "";
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  z-index: 1;
  right: 0px;
  top: 0px;
  margin: -20px 0px 0px 5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-40deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-40deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-40deg);
  transform-origin: 0 0;
  transform: rotate(-40deg);
  transition:width .3s ease-in-out;
  -webkit-transition:width .3s ease-in-out;
  -moz-transition:width .3s ease-in-out;
  -o-transition:width .3s ease-in-out;
  -ms-transition:width .3s ease-in-out;
}

.btn-job:hover:after{
  width: 46%;
}


legend{
  color: #5f5f5f;
}

.input-back-job{
  position: relative;
  background: #fcfcfc;
  overflow: hidden;
  trasition:all .3s ease-out;
  -webkit-trasition:all .3s ease-out;
  -moz-trasition:all .3s ease-out;
  -ms-trasition:all .3s ease-out;
  -o-trasition:all .3s ease-out;
}

.input-job{
  border-radius: 0px;
  overflow:hidden;
  background: transparent;
  border:solid 1px #fcfcfc;
  trasition:all .3s ease-out;
  -webkit-trasition:all .3s ease-out;
  -moz-trasition:all .3s ease-out;
  -ms-trasition:all .3s ease-out;
  -o-trasition:all .3s ease-out;
}

.input-job:focus,
.input-job:hover,
.input-job:active{
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #edd8c8, 
                 0 0 7px #edd8c8, 0 0 10px #edd8c8;
  border:solid 1px rgb(93%, 78%, 77%);
  color:#5f5f5f;
}

.input-back-job:after{
  position: absolute;
  content: "";
  width: 20%;
  height: 200%;
  background: hsla(184, 19%, 70%,.2);
  z-index: 1;
  right: -7px;
  top: 10px;
  margin: -20px 0px 0px 5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-40deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-40deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-40deg);
  transform-origin: 0 0;
  transform: rotate(-40deg);
  transition:width .3s ease-in-out;
  -webkit-transition:width .3s ease-in-out;
  -moz-transition:width .3s ease-in-out;
  -o-transition:width .3s ease-in-out;
  -ms-transition:width .3s ease-in-out;
}

.select-job{
  background: #fcfcfc;
}


/*table*/

.table-job{
  
}

.table-job tr{
  font-size: 1.2em;
  vertical-align: middle;
}

.table-job tr td:nth-child(2n+1){
  padding: 10px;
  border:none;
} 

.table-job tr td:nth-child(2n){
  position: relative;
  border-top: none;
  padding: 10px;
  border-bottom: dashed 2px #5f5f5f;
  font-style: italic;
  width: 50%;
  max-width: 50%;
  word-wrap:break-word;
  overflow: auto;
  text-align: left;
}  

.table-job i{
  margin-right: 15px;
}

/*legend*/
legend{
  border-bottom: solid 2px hsl(0, 0%, 94%);
}

/*addProduct*/
#addProduct{
  /*display: none;*/
}


/*btn-search*/
.btn-search{
  display: inline-block;
  margin: 0px auto 0px 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  background-color: #1fa67a;
  color: #fcfcfc;
  position: relative;
  transition:background .3s ease-in-out;
  -webkit-transition:background .3s ease-in-out;
  -moz-transition:background .3s ease-in-out;
  -o-transition:background .3s ease-in-out;
  -ms-transition:background .3s ease-in-out;
  padding: 10px 15px 10px 15px;
  overflow:hidden;
}


.btn-search:hover{
  background-color: #1b926c;
  color: #fcfcfc;
}

.btn-search:after{
  position: absolute;
  content: "";
  width: 70%;
  height: 200%;
  background: rgba(255,255,255,.2);
  z-index: 1;
  right: 0px;
  top: 0px;
  margin: -20px 0px 0px 5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-40deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-40deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-40deg);
  transform-origin: 0 0;
  transform: rotate(-40deg);
  transition:width .3s ease-in-out;
  -webkit-transition:width .3s ease-in-out;
  -moz-transition:width .3s ease-in-out;
  -o-transition:width .3s ease-in-out;
  -ms-transition:width .3s ease-in-out;
}

.btn-search:hover:after{
  width: 86%;
}

.btn-search:active{
  background: #29ce98;
}

/*fech-back*/
.form-control-feedback{
  top: 5px !important;
}

/*list search*/
/* Main container */
.cbp-vm-switcher {
  padding: 25px;
}

/* options/select wrapper with switch anchors */
.cbp-vm-options {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 2px solid hsl(0, 0%, 94%);
}

.cbp-vm-options a {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  color: hsl(0, 0%, 94%);
  margin: 2px;
}

.cbp-vm-options a:hover,
.cbp-vm-options a.cbp-vm-selected {
  color: #1fa67a;
}

.cbp-vm-options a:before {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  display: inline-block;
}

/* General style of switch items' list */

.cbp-vm-switcher ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Clear eventual floats */
.cbp-vm-switcher ul:before, 
.cbp-vm-switcher ul:after { 
  content: " "; 
  display: table; 
}

.cbp-vm-switcher ul:after { 
  clear: both; 
}

.cbp-vm-switcher ul li {
  display: block;
  position: relative;
}

.cbp-vm-image {
  display: block;
  margin: 0 auto;
}

.cbp-vm-image img {
  display: inline-block;
  width: 40%;
  height: 50%;
  max-width: 70%;
  border: none;
}

.cbp-vm-title {
  margin: 0;
  padding: 0;
}

.cbp-vm-price {
  color: #d55915;
}

.cbp-vm-add {
  overflow: hidden;
  font-family: 1.2em;
  position: relative;
  font-family: sans-serif;
  color: #fcfcfc;
  background: #1fa67a;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 20px 0 0;
  display: inline-block;
  transition: background 0.2s;
  text-decoration: none;
}

.cbp-vm-add:hover {
  color: #fcfcfc;
  background: #1b926c;
  text-decoration: none;
}

.cbp-vm-add:before {
  position: absolute;
  content: "";
  width: 36%;
  height: 200%;
  background: rgba(255,255,255,.2);
  z-index: 1;
  right: 0px;
  top: 0px;
  margin: -20px 0px 0px 5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-40deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-40deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-40deg);
  transform-origin: 0 0;
  transform: rotate(-40deg);
  transition:width .3s ease-in-out;
  -webkit-transition:width .3s ease-in-out;
  -moz-transition:width .3s ease-in-out;
  -o-transition:width .3s ease-in-out;
  -ms-transition:width .3s ease-in-out;
}

.cbp-vm-add:hover:before{
  width: 43%;
}

/* Individual view mode styles */

/* Large grid view */
.cbp-vm-view-grid ul {
  text-align: center;
}

.cbp-vm-view-grid ul li {
  width: 33%;
  text-align: center;
  padding: 25px;
  margin: 20px 0 0;
  display: inline-block;
  min-height: 420px;
  vertical-align: top;
}

.cbp-vm-view-grid .cbp-vm-title {
  font-size: 2em;
}

.cbp-vm-view-grid .cbp-vm-details {
  max-width: 300px;
  min-height: 70px;
  margin: 0 auto;
} 

.cbp-vm-view-grid .cbp-vm-price {
  margin: 10px 0;
  font-size: 1.5em;
}


/* List view */
.cbp-vm-view-list li {
  padding: 20px 0;
  white-space: nowrap;
}

.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-details,
.cbp-vm-view-list .cbp-vm-price,
.cbp-vm-view-list .cbp-vm-add {
  display: inline-block;
  vertical-align: middle;
}

.cbp-vm-view-list .cbp-vm-image {
  width: 10%;
}

.cbp-vm-view-list .cbp-vm-title {
  font-size: 1.3em;
  padding: 0 10px;
  white-space: normal;
  width: 23%;
}

.cbp-vm-view-list .cbp-vm-price {
  font-size: 1.3em;
  width: 10%;
}

.cbp-vm-view-list .cbp-vm-details {
  width: 40%;
  padding: 0 15px;
  overflow: hidden;
  white-space: normal;
}

.cbp-vm-view-list .cbp-vm-add {
  margin: 0;
}

@media screen and (max-width: 66.7em) {
  .cbp-vm-view-list .cbp-vm-details  {
    width: 30%;
  }
} 

@media screen and (max-width: 57em) {
  .cbp-vm-view-grid ul li {
    width: 49%;
  }
}

@media screen and (max-width: 47.375em) {
  .cbp-vm-view-list .cbp-vm-image {
    width: 20%;
  }

  .cbp-vm-view-list .cbp-vm-title {
    width: auto;
  }

  .cbp-vm-view-list .cbp-vm-details  {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .cbp-vm-view-list .cbp-vm-add  {
    margin: 10px;
  }
}

@media screen and (max-width: 40.125em) {
  .cbp-vm-view-grid ul li {
    width: 100%;
  }
}

/*filter*/
.input-back-job-filter{
  position: relative;
  background: #fcfcfc;
  overflow: hidden;
  trasition:all .3s ease-out;
  -webkit-trasition:all .3s ease-out;
  -moz-trasition:all .3s ease-out;
  -ms-trasition:all .3s ease-out;
  -o-trasition:all .3s ease-out;
  display: inline-block;
}



.input-back-job-filter:after{
  position: absolute;
  content: "";
  width: 20%;
  height: 200%;
  background: hsla(184, 19%, 70%,.2);
  z-index: 1;
  right: -7px;
  top: 10px;
  margin: -20px 0px 0px 5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-40deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-40deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-40deg);
  transform-origin: 0 0;
  transform: rotate(-40deg);
  transition:width .3s ease-in-out;
  -webkit-transition:width .3s ease-in-out;
  -moz-transition:width .3s ease-in-out;
  -o-transition:width .3s ease-in-out;
  -ms-transition:width .3s ease-in-out;
}

/*update-data*/
.data-updata{
  margin-top: 40px;
}

.data-updata table{

}

.component {
  line-height: 1.5em;
  margin: 0 auto;
  padding: 2em 0 3em;
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
}
.component .filler {
  font-family: "Blokk", Arial, sans-serif;
  color: #d3d3d3;
}
.table-style {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}

.table-style td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}

.table-style td.err {
    background-color: #e992b9;
    color: #fff;
    font-size: 0.75em;
    text-align: center;
    line-height: 1;
    word-wrap:break-word;
  }

.table-style th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

.table-style tbody th {
  background-color: #2ea879;
}

.table-style tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}

.table-style tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}

/* For appearance */
.sticky-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  margin: 3em 0;
  width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
  background-color: #31bc86;
  color: #fcfcfc;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .125s ease-in-out;
  z-index: 50;
  width: auto; /* Prevent table from stretching to full size */
}
  .sticky-wrap .sticky-thead {
    box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
    z-index: 100;
    width: 100%; /* Force stretch */
  }
  .sticky-wrap .sticky-intersect {
    opacity: 1;
    z-index: 150;

  }
    .sticky-wrap .sticky-intersect th {
      background-color: #666;
      color: #eee;
    }
.sticky-wrap td,
.sticky-wrap th {
  box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
.table-style td.user-name {
  text-transform: capitalize;
}
.sticky-wrap.overflow-y {
  overflow-y: auto;
  max-height: 50vh;
}

/*progressbar*/
.progressbar{
  margin: -30px auto 20px auto;
  height: 10px;
  display: block;
  position: relative;
  border-radius: 0px;
  overflow:hidden;
  background: #fcfcfc;
  border:solid 1px #fcfcfc;
  trasition:all .3s ease-out;
  -webkit-trasition:all .3s ease-out;
  -moz-trasition:all .3s ease-out;
  -ms-trasition:all .3s ease-out;
  -o-trasition:all .3s ease-out;
}


.input-back-job-lg{
  position: relative;
  background: #fcfcfc;
  overflow: hidden;
  trasition:all .3s ease-out;
  -webkit-trasition:all .3s ease-out;
  -moz-trasition:all .3s ease-out;
  -ms-trasition:all .3s ease-out;
  -o-trasition:all .3s ease-out;
}
.input-back-job-lg:after{
  position: absolute;
  content: "";
  width: 12%;
  height: 250%;
  background: hsla(184, 19%, 70%,.2);
  z-index: 1;
  right: -7px;
  top: 10px;
  margin: -20px 0px 0px 5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-45deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-45deg);
  transform-origin: 0 0;
  transform: rotate(-45deg);
  transition:width .3s ease-in-out;
  -webkit-transition:width .3s ease-in-out;
  -moz-transition:width .3s ease-in-out;
  -o-transition:width .3s ease-in-out;
  -ms-transition:width .3s ease-in-out;
}

.progress-bar-success{
  background-color: #1fa67a;
  trasition:background-color .3s ease-out;
  -webkit-trasition:background-color .3s ease-out;
  -moz-trasition:background-color .3s ease-out;
  -ms-trasition:background-color .3s ease-out;
  -o-trasition:background-color .3s ease-out;
}

.btn{
  border-radius: 0px;
}

.modal-content {
  border-radius: 0px;
}

.icoslide{
  margin-right: 10px;
}